@font-face{
	font-family: Mostley Script;
	src: url("../fonts/mostley_script.ttf");
}

@font-face{
	font-family: Friendly Schoolmates;
	src: url("../fonts/friendly_schoolmates.otf");
}

@font-face{
	font-family: Blinkstones;
	src: url("../fonts/blinkstones.ttf");
}

@font-face{
	font-family: Banthink;
	src: url("../fonts/banthink.ttf");
}

@font-face{
	font-family: Coneria Script;
	src: url("../fonts/coneria_script.ttf");
}