body{
	width: 100vw;
	padding: 0;
	margin: 0;
	background: #32CD32;
	overflow-x: hidden;
	padding-bottom: 1vw;
}

#navbar{
	height: 6vh;
	padding-top: 3vh;
	padding-left: 2vw;
	background: rgba(255,255,255,0.8);
}

#navbar img{
	width: 2.5vw;
	position: relative;
	float: right;
	top: -0.75vh;
	left: -12.5vw;
	margin-left: 1vw;
	border-radius: 0.5vw;
}

#navbar img:hover{
	transform: scale(1.1);
	transition: transform 0.5s;
}

#navbar a, a:visited{
	font-family: Friendly Schoolmates;
	color: #696969;
	text-decoration: none;
	font-size: 1.25rem;
	margin-right: 1vw;
}

#navbar a:hover, a:active {
    color: black;
    transition: color 1s;
}

#profile-pic{
	width: 2.5vw;
	height: 5vh;
	position: relative;
	float: left;
}

#navbar p{
	position: relative;
	left: 90vw;
	background: #32CD32;
	width: 6vw;
	height: 3.5vh;
	border-radius: 1vw;
	padding-top: 0.5vh;
	text-align: center;
	font-family: Friendly Schoolmates;
	color: #696969;
	font-size: 1.25rem;
	top: -6.5vh;
}

#navbar p:hover{
	cursor: pointer;
	color: black;
	transition: color 1s;
}

button{
	width: 15vw;
	height: 5vh;
	background: gold;
	border-radius: 1vw;
	border: 1px solid;
	color: #696969;
	font-size: 1.35rem;
	font-family: Friendly Schoolmates;
	margin-left: 42vw;
	margin-top: 2vh;
}

button:hover{
	color: black;
	cursor: pointer;
	transition: color 0.75s;
}

button:focus{
	outline: none;
}

#newArticle{
	position: fixed;
	background: gold;
	width: 80vw;
	padding-top: 0.1vh;
	padding-right: 1vw;
	padding-left: 1vw;
	height: 68vh;
	border-radius: 1vw;
	margin-top: 2vh;
	margin-left: 1vw;
	font-family: Constantia;
	display: none;
	box-shadow:0 0 0 1600px rgba(0,0,0,0.75);
	margin-left: 8.5vw;
}

#newArticle h6{
	font-size: 2.5rem;
	color: white;
	position: relative;
	font-family: Banthink;
	z-index: 5;
	left: 5vw;
	top: -82vh;
	width: 2vw;
	float: right;
	pointer-events: auto;
	font-weight: normal;
}

#newArticle h6:hover{
	transform: scale(1.2);
	transition: transform 0.75s;
	cursor: pointer;
}

#newArticle h1{
	font-size: 1.5rem;
	font-family: Friendly Schoolmates;
	width: 100%;
	text-align: center;
}

#newArticle h2{
	font-size: 1.25rem;
}

#newArticle input[type=text]{
	width: 19.5vw;
	height: 4vh;
	font-family: Constantia;
	font-size: 1rem;
	position: relative;
	left: 1vw;
	top: -0.5vh;
	border-radius: 0.5vw;
	border: 1px solid gray; 
	padding-left: 0.5vw;
}

#newArticle input[type=text]:focus, textarea:focus, input[type=submit]:focus {
  	outline: none;
}

#newArticle textarea{
	position: relative;
	left: 1vw;
	top: -0.5vh;
	width: 78vw;
	height: 28vh;
	padding-top: 1vh;
	padding-left: 0.5vw;
	border-radius: 1vw;
	border: 1px solid gray; 
	font-family: Constantia;
	font-size: 1rem;
}

#newArticle input[type=submit]{
	background: #32CD32;
	width: 10vw;
	height: 5vh;
	border-radius: 0.75vw;
	border: 1px solid black; 
	font-family: Friendly Schoolmates;
	font-size: 1.35rem;
	color: #696969;
	position: relative;
	top: 0vh;
	left: 35vw;
}

#newArticle input[type=submit]:hover{
	color: black;
	cursor: pointer;
	transition: color 0.75s;
}

#newArticle p{
	color: red;
	font-family: Arial;
	font-weight: bolder;
	text-align: center;
}

.article{
	width: 95vw;
	height: auto;
	padding-top: 1vh;
	padding-bottom: 1vh;
	padding-left: 1vw;
	padding-right: 1vw;
	background: white;
	margin-top: 2vh;
	font-family: Constantia;
	border-radius: 1vw;
	margin-left: 1vw;
}

.article h1{
	font-size: 1.5rem;
	width: 100%;
	text-align: center;
}

.article h2{
	font-size: 1rem;
}